@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about this beautiful city of France <a href="https://en.wikipedia.org/wiki/Nice">Nice❤</a>.</p>
</div>
<div class="text-center">
    <iframe width="760" height="515" src="https://www.youtube.com/embed/I60A8-iORm8"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
</div>
